<html> 
    <head> 
        <title>Project_one</title>
	<meta charset = "utf-8">
    </head> 
    
    <body>
	<p>Название курса</p>
	<h1>Названи доклада</h1>
	<h1><i>Введите свой текст здесь</i></h1>
	<hr color = "Blue" size="10">
	<p>Hello world!</p>
	<p><i>АААААААААААААААААААААААААААААААААААААААААААААААААААААА!</i></p>
	<p><font> color = "blue">АААААААААААААААААААААААААААААААААААААААААААААААААААААА!</font></p>
	<img src = "" width = "200" height = "200">
	<h>Имя кота: {{ cat_name }}</h>
    </body> 
</html> 